<div class="container-fluid pl-0">
  <!--  Navigation menu button-->
      <button type="button" id="sidebarCollapse" class="btn nav-button" (click)="isNavClicked()">
        <div *ngIf="!toggle, else close"><i class="icofont-navigation-menu"></i></div>
        <ng-template #close><i class="icofont-close" style="font-weight: 600"></i></ng-template>
      </button>

  <div class="row">
    <div class="col-12">
      <div #sideMenu class="side-menu-body sidebar-wrapper">
        <!-- Profile Section -->
        <div class="profile">
          <img src="assets/images/profile-pic.jpg" alt="" class="img-fluid rounded-circle">
          <h1 class="text-light">Glenn Sabales</h1>
          <div class="social-links mt-3 text-center">
            <a href="#" class="linked-in"><i class="bx bxl-linkedin"></i></a>
            <a href="#" class="github"><i class="bx bxl-github"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          </div>
        </div>

        <!-- Menu -->
        <nav class="nav-menu menu-list">
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
          <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>
        </nav>
      </div>

      <!-- Background Image -->
      <section class="bg-section flex-column justify-content-center align-items-center">
        <div class="bg-container">
          <h1>Glenn Sabales</h1>
          <p>I'm <span id="typed"></span></p>
        </div>
      </section>
    </div>
  </div>
</div>
