
/* Background section */
.bg-section {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  background: url("../assets/images/stock-photo2.jpg") bottom right;
  background-size: cover;
}

/* ::before is called pseudo-element. This inserts a content before the actual content of the element.
  This is for the blur effect */
.bg-section::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background: rgba(5, 13, 24, 0.3);
  z-index: 1;
}

.bg-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  color: whitesmoke;
  margin-left: 30px;
}

@media (min-width: 1200px) {
  .bg-container {
    margin-left: 0;
  }
}

@media (min-width: 480px) {
  .bg-section {
    background-attachment: fixed;
  }
}

.bg-container h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.bg-container p {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

#typed {
  //padding-bottom: 3px;
  //border-bottom-color: #2eafec;
  //border-bottom-style: solid;
  //border-bottom-width: 3.1px;
  //width: fit-content;
  color: #4ddbec;
}
/* End of Background section */

/* Side menu section */
.side-menu-body {
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #0f1034;
  color: snow;
  z-index: 9997;
  overflow-y: auto;
}

.profile h1 {
  font-size: 24px;
  font-weight: 600;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.profile .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #08105b;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.profile .social-links a:hover {
  background-color: #2eafec;
}

.profile img {
  margin: 15px auto;
  display: block;
  height: 120px;
  width: 120px;
  border: 8px solid #08105b;
}

.menu-list li a {
  font-size: 16px;
}

.menu-list li i {
  font-size: 24px;
  padding-right: 8px;
}

/* End of Side menu section */

/* Navigation menu */
.nav-button {
  visibility: visible;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  border: none !important;
  border-radius: 0 !important;
  user-select: none;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  color: #08105b;
}

.nav-button:active,
.nav-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
}

/* The succeeding two blocks means that at minimum width of 1120px, left margin should be 0 (sidebar shown as is).
 Once viewport is less than 1120, left margin will be reduced and transition effect will take place */
.sidebar-wrapper {
  min-height: 100vh;
  margin-left: -20rem;
  -webkit-transition: margin .5s ease-in-out;
  -moz-transition: margin .5s ease-in-out;
  -o-transition: margin .5s ease-in-out;
  transition: margin .5s ease-in-out;
}

/* This class is only added upon clicking the nav button */
.toggled {
  margin-left: 0;
}

@media (min-width: 1200px) {
  /* For larger viewport, nav button is hidden by default */
  .nav-button {
    visibility: hidden;
  }

  .sidebar-wrapper {
    margin-left: 0;
  }
}
/* End of Navigation menu */

/* Main Section */

#main {
  margin-left: 15px;
}

@media (min-width: 1200px) {
  #main {
    margin-left: 315px;
  }
}

#main p, li {
  font-family: "Open Sans", sans-serif;
}

#main li {
  font-size: 0.9em;
}
/* End of Main Section*/

.about-img {
  width: 100%;
  height: 100%;
}

/* Portfolio Section */
.portfolio-section {
  z-index: 1;
}

.portfolio-section img {
  height: 225px;
  width: 100%;
  display: block;
  border-radius: 2% 2% 0 0;
}

.portfolio-bg {
  height: 100vh;
  width: 100%;
  display: table;
  position: relative;
  background: url("../assets/images/portfolio-bg.jpg") bottom right;
  background-size: cover;
}

@media (min-width: 480px) {
  .portfolio-bg {
    background-attachment: fixed;
  }
}

.portfolio-section .section-title h2,
.portfolio-section .section-title p {
  color: whitesmoke;
}

.project-card {
  border-radius: 2%;
}

.project-card:hover {
  cursor: pointer;
}

.card-table {
  font-size: smaller;
}

.card-body h5 {
  color: #173b6c;
}

/* ERROR VALIDATIONS */
.alert {
  padding: 0.5em;
  font-size: small;
}

.red-border {
  border: 1px solid red;
}
