<div class="container-fluid pl-0">
  <!--  Navigation menu button-->
      <button type="button" id="sidebarCollapse" class="btn nav-button" (click)="toggleSideMenu()">
        <div *ngIf="!toggle, else close"><i class="icofont-navigation-menu"></i></div>
        <ng-template #close><i class="icofont-close" style="font-weight: 600"></i></ng-template>
      </button>

  <div class="row" (click)="collapseMenu()">
    <div class="col-12 p-0">
      <!-- Side Menu Section -->
      <div #sideMenu class="side-menu-body sidebar-wrapper">
        <div class="profile">
          <img src="assets/images/profile-pic.jpg" alt="" class="img-fluid rounded-circle">
          <h1 class="text-light">Glenn Sabales</h1>
          <div class="social-links mt-3 text-center">
            <a href="https://www.linkedin.com/in/glenn-sabales-2a0b6386/" class="linked-in" target="_blank">
              <i class="bx bxl-linkedin"></i>
            </a>
            <a href="https://www.facebook.com/amaterasu09/" class="facebook" target="_blank">
              <i class="bx bxl-facebook"></i>
            </a>
            <a href="https://github.com/gsabales" class="github" target="_blank">
              <i class="bx bxl-github"></i>
            </a>
          </div>
        </div>

        <!-- Menu -->
        <nav class="nav-menu menu-list" (click)="toggleMenuIfClicked()">
          <li [ngClass]="{'active': currentActive === 'home'}"><a href="#home"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li [ngClass]="{'active': currentActive === 'about'}"><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li [ngClass]="{'active': currentActive === 'resume'}"><a href="#resume"><i class="bx bx-file-blank"></i><span>Resume</span></a></li>
          <li [ngClass]="{'active': currentActive === 'portfolio'}"><a href="#portfolio"><i class="bx bx-book-content"></i>Projects</a></li>
          <li [ngClass]="{'active': currentActive === 'services'}"><a href="#services"><i class="bx bx-server"></i>Tech Stack</a></li>
          <li [ngClass]="{'active': currentActive === 'contact'}"><a href="#contact"><i class="bx bx-envelope"></i>Contact</a></li>
        </nav>
      </div>

      <!-- Background Image -->
      <section #home id="home" class="bg-section flex-column justify-content-center align-items-center">
        <div class="bg-container">
          <h1 class="fadeInLeft">Glenn Sabales</h1>
          <p class="fadeInRight">I'm <span id="typed"></span></p>
        </div>
      </section>

      <main id="main">
        <!-- About Section -->
        <section id="about" class="about" #about>
          <app-about [workYears]="workYears"></app-about>
        </section>

        <!-- Skills Section -->
        <section #skills id="skills" class="skills section-bg">
          <app-skills [workYears]="workYears"></app-skills>
        </section>

        <!-- Resume Section -->
        <section #resume id="resume" class="resume pb-4">
          <app-resume [workYears]="workYears"></app-resume>
        </section>

        <!-- Portfolio Section-->
        <section #portfolio id="portfolio" class="portfolio-bg pb-0">
          <app-portfolio></app-portfolio>
        </section>

        <!-- Services Section-->
        <section #services id="services" class="services section-bg ">
          <app-services></app-services>
        </section>

        <!-- Contact Section -->
        <section #contact id="contact" class="contact">
          <app-contact></app-contact>
        </section>
      </main>
      <!-- Footer -->
      <footer class="my-footer">
        <div class="container">
          <div class="copyright">
            Copyright &copy; {{currentYear.getFullYear()}} <b>Glenn Sabales</b>
          </div>
          <div class="credits">All Rights Reserved</div>
        </div>
      </footer>
    </div>
  </div>
</div>
<!-- Back to Top button-->
<a #backToTop href="#home" class="back-to-top"><i class="icofont-simple-up"></i></a>
