<div class="container services-section">
  <section class="section-title pt-0">
    <h2>Tech Stack</h2>
    <p>Need someone in your organization who's proficient with these tools and skills? I might help you implement
      your design through this tech stack.</p>
  </section>

  <div class="row">
    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-in-left-1">
      <div class="icon"><i class="icofont-leaf"></i></div>
      <h4 class="title">Spring Boot</h4>
      <p class="description">I prefer to code using Spring Boot since most of the backend portion of
        web applications I have worked on were built using this Java framework</p>
    </div>
    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-in-left-2">
      <div class="icon"><i class="icofont-shield"></i></div>
      <h4 class="title">Angular</h4>
      <p class="description">For frontend development, I prefer to use Angular framework
        since I like how Typescript enforces strongly-typed data values</p>
    </div>
    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-in-left-3">
      <div class="icon"><i class="icofont-database"></i></div>
      <h4 class="title">MySQL/PostgreSQL</h4>
      <p class="description">I have used relational databases such as MySQL and PostgreSQL, but I'm more inclined to use
        MySQL and its UI tool MySQL Workbench</p>
    </div>
    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-in-right-1">
      <div class="icon"><i class="icofont-github"></i></div>
      <h4 class="title">Github/Gitlab/Bitbucket</h4>
      <p class="description">I think Git is such a staple in web development nowadays especially if you work as a team.
        For code repositories, I use Github for my side projects and Gitlab/Bitbucket for company projects</p>
    </div>
    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-in-right-2">
      <div class="icon"><i class="icofont-bootstrap"></i></div>
      <h4 class="title">Bootstrap</h4>
      <p class="description">Bootstrap's grid layout and flex properties helped me a lot in web designing. Until now,
        I consider this UI/UX library a life-saver</p>
    </div>
    <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-in-right-3">
      <div class="icon"><i class="icofont-code"></i></div>
      <h4 class="title">IntelliJ/Postman</h4>
      <p class="description">IntelliJ IDEA is my preferred IDE for coding due to its nice features. As for API development,
        Postman is a must-have for API creation and testing</p>
    </div>
  </div>
</div>
