<div class="container">
  <section class="section-title pt-0">
    <h2>Skills</h2>
    <p>
      Before shifting careers, I thought that learning Java is enough to be a successful developer, and boy
      was I wrong! Now, within {{workYears}} years as a web developer, I obtained a lot of technical skills necessary
      for creating real-world applications. Here is my assessment of those skills so far.
    </p>
  </section>

  <div class="row skills-content">

    <div class="col-lg-6" data-aos="fade-in-out-up1">
      <div class="progress">
        <span class="skill">Spring Boot<i class="val">80%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" data-aos="progress-bar-1" role="progressbar"
               aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>
      </div>
      <div class="progress">
        <span class="skill">Angular 9<i class="val">75%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" data-aos="progress-bar-2" role="progressbar"
               aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
      <div class="progress">
        <span class="skill">Bootstrap 4<i class="val">80%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" data-aos="progress-bar-3" role="progressbar"
               aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6" data-aos="fade-in-out-up2">
      <div class="progress">
        <span class="skill">Java 11<i class="val">75%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" data-aos="progress-bar-4" role="progressbar"
               aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </div>
      <div class="progress">
        <span class="skill">MySQL Workbench<i class="val">65%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" data-aos="progress-bar-5" role="progressbar"
               aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%"></div>
        </div>
      </div>
      <div class="progress">
        <span class="skill">Typescript<i class="val">70%</i></span>
        <div class="progress-bar-wrap">
          <div class="progress-bar" data-aos="progress-bar-6" role="progressbar"
               aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
        </div>
      </div>
    </div>
  </div>
</div>
