.side-menu-body {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 380px;
  background: #040b14;
  color: snow;
}

.profile h1 {
  font-size: 30px;
  font-weight: 600;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

.profile .social-links a{
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.profile .social-links a:hover {
  background-color: #2eafec;
}

.profile img {
  margin: 15px auto;
  display: block;
  height: 150px;
  width: 150px;
  border: 8px solid #2c2f3f;
}

